<footer>

    <div class="contenu-footer">
        <div class="bloc footer-projet">
            <h4>Le projet</h4>
            <p>Projet de fin de formation DWWM</p>
        </div>
        <div class="bloc footer-contact">
            <h4>Restons en contact</h4>
            <p>contact@LaPlayRoom.fr</p>
            <p>Copyrigth:tout droit réservé.2019 La PlayRoom.fr </p>
            <p>☑️CGU</p>
        </div>
        <div class="bloc footer-horaires">
            <h4>Les horaires</h4>
            <ul class="liste-horaires">
                <li> ✔️Lundi 12h-14h</li>
                <li> ✔️Mardi 14h-18h</li>
                <li> ✔️Vendredi 21h-23h</li>
                <li> ✔️Dimanche 23h-00h</li>
            </ul>
        </div>
        <div class="bloc footer-medias">
            <h4>Nos réseaux</h4>
            <ul class="liste-medias">
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i>Google</a></li>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a></li>
            </ul>
        </div>

    </div>

</footer>
