<div class="glob-player">
    <div class="glob-btn">
        <video controls autoplay-muted>
            <video width="320" height="240" controls>

                <source src="./video/sting-fragile_210324.mp4" type="video/mp4">

                Your browser does not support the video element.
            </video>
        </video>
    </div>
</div>
