{% extends 'base.html.twig' %}

{% block title %}{{ titre_page }}{% endblock %}

{% block body %}
    {{ parent() }}
    {{ include('partials/_videola_play_room.html.twig') }}

    <h2 class="mt-4"> {{ titre_section }}</h2>

    <div class="container mt-4 d-flex">



        <div class="container ml-4">
           <h3>PRESENTATION</h3>

            Le News Events vous fait voyager au grès des évènements à travers choix de thèmes multiples.
            Découvrez ce qui qui se passe autour de vous!

        </div>

    </div>

{% endblock %}
